/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sw-darker: #000;
    --sw-lighter: #fff;
    --sw-dark: #141922;
    --sw-light: #a3a3a3;
    --sw-active: #83c12c;
    --sw-footer: #282828;
    --sw-banner: #080b12;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/* #endregion Common */
/* #region Utilities */
.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.list_unstyled {
    list-style: none;
}
/* #region utility col */

[class^="col_"] {
    padding: 1rem;
}

.col_1 {
    width: calc(100% / 12);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}
/* #endregion utility col */

/* #endregion Utilities */
/* #region Debug */
.debug .sidebar,
.debug nav,
.debug footer
 {
    border: 1px dashed white;
}

.debug .top {
    height: calc(100vh - 100px);
}

.debug .sidebar {
    width: 50px;
}

.debug .banner {
    height: 50px;
}

.debug .btn {
    width: 150px;
    background-color: yellow;
    height: 100%;
}

.debug #app_main {
    width: calc(100% - 50px);
} 

.debug ul li {
    width: 100px;
    height: 30px;
    background-color: red;
    border: 1px solid black;
}

.debug [class^="col_"] {
    height: 200px;
    background-color: green;
    border: 1px solid white;
}

.debug #app_bottom {
    height: 100px;
}
/* #endregion Debug */


/* #region Top */

/******* TODO .top height 100vh - footer height *******/

/* #region .sidebar */
.sidebar {
    background-color: var(--sw-darker);
}
/* #endregion .sidebar */
/******* TODO #app_main width 100% - sidebar ********/
#app_main {
    background-color: var(--sw-dark);
}

/* #region .banner */
#app_main .banner {
    background-color: var(--sw-banner);
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
/* #region .banner */

/* #region .main_content */


.main-content {
    overflow-y: auto;
}

nav > ul {
    flex-wrap: wrap;
    justify-content: center;
}

.focus {
    color: var(--sw-lighter);
    padding: 1rem;
    background-color: var(--sw-dark);
}

/* #region .main_content */
/* #endregion Top */


/* #region Footer */
#app_bottom {
    background-color: var(--sw-footer);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}
/* #endregion Footer */




/***** #region Media *****/


/****TODO media for height 350px ****/

/* S */
@media screen and (min-width: 481px) {
    .debug .sidebar {
        width: 220px;
    }

    .debug #app_main {
        width: calc(100% - 220px);
    }
}

/* MD */
@media screen and (min-width: 768px) {
    .col_md_1 {
        width: calc(100% / 12);
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_5 {
        width: calc(100% / 12 * 5);
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }

    .col_md_7 {
        width: calc(100% / 12 * 7);
    }

    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    .col_md_10 {
        width: calc(100% / 12 * 10);
    }

    .col_md_11 {
        width: calc(100% / 12 * 11);
    }

    .col_md_12 {
        width: calc(100% / 12 * 12);
    }
    /* /.col utilities*/
}

/* LG */
@media screen and (min-width: 1200px) {
    .col_lg_1 {
        width: calc(100% / 12);
    }

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }

    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }

    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }

    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }

    .col_lg_12 {
        width: calc(100% / 12 * 12);
    }
    /* /.col utilities */
} 

/***** #endregion Media *****/